// Place all the styles related to the Carts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.myLogin{
    .container{
        .field{
            width:200px;
           
        }
        .input{
            height:25px;
            border-radius: 20px;
            border-color: cadetblue;
        }
        .forget{
            margin-top:10px;
        }
    }
 }