<p id="notice"><%= notice %></p>
<div class="Container"style="margin-left:50px;">
<h1 style="color:#D9317B;">Brands</h1>

<table class="table">  <thead>
    <tr>
  </thead>

  <tbody>
    <% @brands.each do |brand| %>
      <tr>
        <td style="font-size:20px;font-weight:bold"><%= brand.name %></td>
        <td  > <button class="fr__btn"> <%= link_to 'Show', brand %></button> </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
</div>