<!-- Start Cart Panel -->
<div class="shopping__cart">
    <div class="shopping__cart__inner">
        <div class="offsetmenu__close__btn">
            <a href="#"><i class="zmdi zmdi-close"></i></a>
        </div>
        <div class="shp__cart__wrap">
            <div class="cp__mock__template" hidden >
                <div class="shp__single__product" >
                  
                    <div class="shp__pro__details">
                        <h2><a href="product-details.html" > <span class="cp__name">BO&Play Wireless Speaker </span></a></h2>
                        <span class="quantity ">QTY: <span class="cp__quantity"> 1</span></span>
                        <span class="shp__price cp__price"><span class="cp__subtotal__price"> 150.00</span></span>
                    </div>
                    <div class="remove__btn ">
                        <a href="#" class="remove__cp" title="Remove this item"><i class="zmdi zmdi-close"></i></a>
                    </div>
                </div>
            </div>
            
                
        </div>
        <ul class="shoping__total">
            <li class="subtotal">Subtotal:</li>
            <li class="total__price">$130.00</li>
        </ul>
        <ul class="shopping__btn">
        <li><%= link_to "Go to cart", '/me/cart' %></li>
        </ul>
    </div>
</div>
<!-- End Cart Panel -->